@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --color-background-main: #080808;
    --color-text-main: #ffffff;
}

body {
    font-weight: 22px;
    font-family: "Roboto", sans-serif;
    background: var(--color-background-main);
    color: var(--color-text-main);
}